<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>HomeStream</title>
  </head>

  <body>
		<audio controls>
			<source src="<%= audioURL %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
  </body>
</html>
